:root {
  --dice-size: 100px;
  --dice-size-half: calc(var(--dice-size) / 2);
  --dice-anim-ms: 100ms;
  --basic-gray: #333333;
  --standard-font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  background: center / cover no-repeat url("./backgrounds/IMG_0813.jpg") blue;
}

.toolbar,
.panel,
.dice-slots {
  border-radius: 5px;
}
.panel,
.dice-slots {
  box-shadow: 5px 5px 10px var(--basic-gray);
}

.toolbar {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}
.panel {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}
.dice-slots {
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 20;
}

button {
  padding: 8px 10px 8px 10px;
  font-size: var(--standard-font-size);
}

@font-face {
  font-size: var(--standard-font-size);
  font-family: FixedsysExcelsior301Regular;
  src: url(./fixedsys-excelsior.woff2) format("woff2");
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
}

html, body, button, input {
  font-family: FixedsysExcelsior301Regular;
}

.toolbar {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.panel {
  position: absolute;
  max-width: 20vw;
}

.panel-header {
  background-color: #DEDEDE;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.panel-content {
  padding: 20px;
}

.roll-log {
  right: 20px;
}

.page-instructions {
  left: 20px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.dice-tray-wrap {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
}

.dice-tray,
.dice-tray-buttons {
  display: inline-block;
  vertical-align: middle;
}

.dice-tray-buttons {
  padding-left: 30px;
}

.dice-slots-wrap {
  width: 100%;
}

.dice-slots {
  position: relative;
  width: fit-content;
  min-width: 35vw;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px 0 15px;
}

.welcome-image {
  float: right;
  height: 150px;
  margin-left: 10px;
  border: 2px inset black;
}

.dice-helper,
.dice-helper-text,
.dice-helper-text-big {
  display: inline-block;
  vertical-align: middle;
}
.dice-helper {
  font-family: monospace;
  font-size: 50px;
}
.dice-helper-text-big {
  font-size: 24px;
}

.dice-dropzone {
  display: inline-block;
  width: calc(var(--dice-size) * 2.25);
  height: calc(var(--dice-size) + (calc(var(--dice-size)/2)));
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border: 3px inset #777777;
  border-radius: 10px;
  margin-bottom: 20px;
}
.dropzone-pad {
  margin-right: 20px;
}

.dice-dropzone label {
  display: block;
}

.dice-dropzone-active,
.dice-dropzone-hover {
  border-radius: 10px;
  background-color: rgba(0, 255, 0, 0.3);
  text-shadow: 0 0 10px #DDDD00;
  color: var(--basic-gray);
}

.dice-dropzone-hover {
  box-shadow: 0 0 20px inset #DDDD00;
}

.dice-socket {
  font-size: var(--dice-size);
}

.dice-wrapper {
  width: var(--dice-size);
  height: var(--dice-size);
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

.dice-wrapper-selected {
  filter: brightness(1.5) blur(2px);
  transform: scale(1.05);
}

.dice {
  width: var(--dice-size);
  height: var(--dice-size);
  position: relative;
  transform-style: preserve-3d;
  transition: transform var(--dice-anim-ms);
}

.dice-face {
  position: absolute;
  width: var(--dice-size);
  height: var(--dice-size);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);
  border: 1px solid var(--basic-gray);
}

.dice-pip {
  background-color: white;
  background: radial-gradient(circle, white 0%, var(--basic-gray) 500%);
  border: 1px solid black;
  display: block;
  width: calc(var(--dice-size)/5);
  height: calc(var(--dice-size)/5);
  border-radius: 50%;
  margin: 5px;
}

.dice.show-1 { transform: translateZ(calc(var(--dice-size-half) * -1)) rotateY(   0deg); }
.dice.show-5 { transform: translateZ(calc(var(--dice-size-half) * -1)) rotateY( -90deg); }
.dice.show-6 { transform: translateZ(calc(var(--dice-size-half) * -1)) rotateY(-180deg); }
.dice.show-2 { transform: translateZ(calc(var(--dice-size-half) * -1)) rotateY(  90deg); }
.dice.show-4 { transform: translateZ(calc(var(--dice-size-half) * -1)) rotateX( -90deg); }
.dice.show-3 { transform: translateZ(calc(var(--dice-size-half) * -1)) rotateX(  90deg); }

.dice-face-1 { transform: rotateY(  0deg) translateZ(var(--dice-size-half)); }
.dice-face-5 { transform: rotateY( 90deg) translateZ(var(--dice-size-half)); }
.dice-face-6 { transform: rotateY(180deg) translateZ(var(--dice-size-half)); }
.dice-face-2 { transform: rotateY(-90deg) translateZ(var(--dice-size-half)); }
.dice-face-4 { transform: rotateX( 90deg) translateZ(var(--dice-size-half)); }
.dice-face-3 { transform: rotateX(-90deg) translateZ(var(--dice-size-half)); }

.allow-hover {
  transition: box-shadow 500ms;
  box-shadow: 0 0 10px var(--basic-gray);
}

.allow-hover:hover {
  box-shadow: none;
  transform-style: preserve-3d;
  animation-name: wiggle-dice;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes wiggle-dice {
  0% {
    transform: rotateX(0deg) rotateY(0deg)
  }

  25% {
    transform: rotateX(-8deg) rotateY(-8deg) scale(1.05)
  }
  
  75% {
    transform: rotateX(8deg) rotateY(8deg) scale(0.95)
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) 
  }
}

.dice-face-1, .dice-face-2, .dice-face-3, .dice-face-4, .dice-face-5, .dice-face-6 {
  display: flex;
}

.dice-face-1 {
  justify-content: center;
  align-items: center;
}

.dice-face-2, .dice-face-3, .dice-face-5, .dice-face-4, .dice-face-6 {
  justify-content: space-between;
}

.dice-face-4 .column,
.dice-face-5 .column,
.dice-face-6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-face-2 .dice-pip:nth-of-type(2) {
  align-self: flex-end;
}

.dice-face-3 .dice-pip:nth-of-type(2) {
  align-self: center;
}

.dice-face-3 .dice-pip:nth-of-type(3) {
  align-self: flex-end;
}

.dice-face-5 .column:nth-of-type(2) {
  justify-content: center;
}
